:root{
--primary-color:  #ff8811;
}
*{
    outline: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    background-color:var(--primary-color);
    font-family: 'Inter', sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
}
.container{
    max-width: 640px;
    margin: 50px auto;
    padding: 20px;
    background-color: #FDFDFD;
    border-radius: 20px;
}
.relogio{
    font-size: 2em;
}
.pausa{
    color: #ff0000;
}